* {
    margin: none;
    padding: none;
}

body {
    background-color: lightpink;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.bio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 600px;
}

#like {
    border: none;
    border-radius: 10%;
}

footer {
    background-color: blueviolet;
    color: white;
    height: 100px;
}

footer div {
    display: flex;
    justify-content: center;
    width: 100%;
}